.nav {
    grid-area: n;
    background-color: coral;
    padding: 20px;
}

.item {
    padding: 0 0 10px 0;
}

.item a {
    color: white;
}

.sidebarFriends {
    padding: 20px;
    background-color: coral;
    color: white;
}

.sidebarFriendsTitle {
    margin: 0 0 20px 0;
}

.sidebarFriendsTitle a {
    color: white;
}
